{% extends 'base_private.html' %}
{% load i18n form_tags lib_tags %}

{{ block.super }}
    <link href="{{ MEDIA_URL }}css/modal.css" rel="stylesheet" type="text/css" /> 
    <link type="text/css" href="{{ MEDIA_URL }}css/egplant_cost.css" rel="stylesheet" />

{% block content %}

<p class="breadcrumbs"><a href="/account/service_choice/">Выбор раздела</a> <span>→</span><a href="#">Телефония</a><span>→</span>{{ title }} номера</p>

<h1 class="title">{{ title }} номера {{ info.number }}</h1>

<form  method="POST" action="">
    <table class="type-2">
        <tr><th>Номер</th><th>Тариф</th><th>Подключение</th><th>Абонентская плата</th><th>Гарантированный платеж</th></tr>
        <tr><td>{{ info.number }}</td><td>{{ info.tariff }}</td><td>{{ info.connect }}</td><td>{{ info.abon }}</td><td>{{ info.guaranteed }}</td></tr>
    </table>
    <div style="float:right">
        <input class="bt bt-blue2" type="submit" name="cancel" value="Отмена">
        <input class="bt bt-blue2" type="submit" name="submit" value="{{ value }}">
    </div>
</form>
      
{% endblock %}
