{% extends 'base_private.html' %}
{% load i18n form_tags lib_tags %}


{% block content %}

<h1 class="title">{{ title }}</h1>

{% if has_phones %}
    
    <div class="ugc">
        <p>Введите имя группы и выберите номера, которые будут входить в эту группу.</p>
    </div>    

    {% if to_user %}
        <h2>{% trans "To user" %} {{ to_user }}</h2>
    {% endif %}
    
    <form id="add-form" method="POST" action="{% if to_user %}?user_id={{ to_user.id }}{% else %}.{% endif %}">
        <div class="form_django form_ul">
        
            {% for f in form %}
                {% form_field f block %}
            {% endfor %}
            
            <div class="form-submit">
                <div class="form-submit-left">
                    <small><span class="req">*</span> — пункты обязательные для заполнения</small>
                </div>
                <div class="form-submit-right">
                    <input id="cancel-button" type="submit" class="bt bt-blue2" value='{% trans "Cancel" %}' name="cancel" />
                    <input id="add-group-button" type="submit" id="add-button" class="bt bt-blue2" value='{% trans "Add group" %}' name="add" />
                </div>
            </div>
        
        </div>
    </form>
    
{% else %}

    <div class="status status-warning">
        <i class="ico"></i>
        <div class="status-i">
            <p>{% trans "You have no internal numbers. You should create one first" %}</p>
        </div>
    </div>
    
{% endif %}
{% endblock %}