{% load i18n page_tags form_tags %}

<script>
	function step_login(){
			var str = $("#form_login").serialize();
			$.ajax({
					url: "/rack_step_login/?"+str+"/",  
					cache: false,
					async: false,
					success: function(html)
					{
					 $("#modal_auth").html(html);  
					}  
				});
		}
</script>

<a class="popup_personal-close" href="#close"></a> 
<form class="clearfix" action="#" method="post" onkeydown="javascript:if(13==event.keyCode){return false;}" id='form_login'>
	<table class="type-4 modal">
    	<caption>
        	<h1 class="title">Вход в личный кабинет</h1>
        </caption>
        <tbody>
        	<tr>
            	<td>
                {% if error_auth %}
                    <div class="status status-error">
                        <i class="ico"></i>
                        <div class="status-i">
                            <p>Заполните правильно все поля!</p>
                        </div>
                    </div>
   				{% endif %} 
                </td>
            </tr>
        	<tr>
            	<td style="padding: 0; height: auto;">
                    <div class="popup-form login2-form" style="min-height: 100px;">
                        {% for field in form_login %}
                        	{% form_field field block %}
                        {% endfor %}
                        <div style="clear: both"></div>
                    </div>
                </td>
            </tr>
            <tr>
            	<td style="padding-right: 5px; padding-bottom: 10px;">
                    <div class="form-submit-right" id="ajf">
                        <input class="bt bt-blue2" name="previev_button" type="button" id='previev_button' value='Назад' onclick="rack_step_change_method_auth()"/>
                        <input class="bt bt-blue2" name="next" type="button" id='next_button' value="Далее" onclick="step_login()"/>
                        <input type="hidden" name="data" id="data_field" value="{{ data }}" />
                    </div>
                </td>
            </tr>
        </tbody>
     </table>  
</form>