{% extends 'base_public.html' %}

{% block content %}

<h1  class="title"> Услуги дата центра </h1>
 <div id = "Text_None_Moscowdata" class="ugc"> 
<p id = "Text_None_Moscowdata">Хотите чтобы Ваш сервер находился в надежном месте и работал стабильно? Разместите его в современном дата центре Global Home который находится в Москве. Мы предлагаем полный комплекс услуг по размещению серверов, включая подключение их к сети интернет и бесперебойной системе электропитания. Все сетевое оборудование в дата центре находится под наблюдением наших сотрудников круглые сутки. </p>
<p id = "Text_None_Moscowdata">  Вас приятно удивят невысокие цены и индивидуальный подход к каждому клиенту.</p>
</div>

<div id = "Datacenter_Toggle_image" class="toggle" style="margin: auto; float: none; width: 270px;">
    
    <div class="toggle-item">
        <a href="/service/dedicated-server/" class="toggle-head"><i></i>Выделенные сервера</a>
    </div><!--toggle-item-->

    <div class="toggle-item">
        <a href="/service/server-rack/" class="toggle-head"><i></i>Серверные стойки</a>
    </div><!--toggle-item-->

    <div class="toggle-item">
        <a href="/service/colocation-server/" class="toggle-head"><i></i>Размещение оборудования</a>
    </div><!--toggle-item-->

    <div class="toggle-item">
        <a href="/service/virtual-server/" class="toggle-head"><i></i>Виртуальные сервера</a>
    </div><!--toggle-item-->
    <div class="toggle-item">
        <a href="/service/hosting-site/" class="toggle-head"><i></i>Хостинг</a>
    </div><!--toggle-item-->
    <div class="toggle-item">
        <a href="/service/proxy-server/" class="toggle-head"><i></i>Прокси-сервер</a>
    </div><!--toggle-item-->
     <div class="toggle-item">
        <a href="/service/communication/" class="toggle-head"><i></i>Аренда каналов связи</a>
    </div><!--toggle-item-->
</div>
  
{% endblock %}