{% extends 'base_public.html' %}

{% block content %}

	<h1 class="title" style="width: 100%;">Услуги телефонии</h1>
	<div class="ugc">
<p>Если Вы хотите экономить на телефонных звонках, организовать корпоративную связь в офисе и пользоваться функциями АТС, то мы предлагаем Вам подключить городской многоканальный номер телефона. Подключение телефонных номеров с кодами 495, 499, 812 и 8-800 осуществляется прямо на нашем сайте и займет у вас не больше 5 минут. При подключении к услугам телефонной связи Global Home, Вы также бесплатно подключаетесь к виртуальной АТС с множеством функций для более эффективной телефонии. </p>
</div>
<div class="toggle" style="margin: auto; float: none; width: 270px;">
    <div class="toggle-item">
        <a href="/content/article/ip_telephony/" class="toggle-head"><i></i>IP телефония</a>
    </div><!--toggle-item-->
    
    <div class="toggle-item">
        <a href="/homepage/localphones/" class="toggle-head"><i></i>Многоканальный номер</a>
    </div><!--toggle-item-->

    <div class="toggle-item">
        <a href="/content/article/virtual_number/" class="toggle-head"><i></i>Виртуальный номер</a>
    </div><!--toggle-item-->

    <div class="toggle-item">
        <a href="/content/article/nomer_8-800/" class="toggle-head"><i></i>Номер 8-800</a>
    </div><!--toggle-item-->
    
    <div class="toggle-item">
        <a href="/content/article/moscow_nomer/" class="toggle-head"><i></i>Московский номер</a>
    </div><!--toggle-item-->
    
    <div class="toggle-item">
        <a href="/content/article/peterburg_nomer/" class="toggle-head"><i></i>Петербургский номер</a>
    </div><!--toggle-item-->
    
    <div class="toggle-item">
        <a href="/content/article/office_ats/" class="toggle-head"><i></i>Офисная АТС</a>
    </div><!--toggle-item-->

</div>
     
{% endblock %}
