{% extends 'base_public.html' %}

{% block content %}

<div class="toggle" style="margin: auto; float: none; width: 270px;">

	<h1 class="title" style="width: 100%;">Накладка для симкарт</h1>

    <div class="toggle-item">
        <a href="/content/article/value_sim" class="toggle-head"><i></i>Для чего нужна Накладка</a>
    </div><!--toggle-item-->
    
    <div class="toggle-item">
        <a href="/content/article/use_sim/" class="toggle-head"><i></i>Как пользоваться</a>
    </div><!--toggle-item-->

    <div class="toggle-item">
        <a href="/content/article/call_simcard/" class="toggle-head"><i></i>Как совершать звонки</a>
    </div><!--toggle-item-->

    <div class="toggle-item">
        <a href="/content/article/rep_sim/" class="toggle-head"><i></i>Пополнение карт</a>
    </div><!--toggle-item-->
    
    <div class="toggle-item">
        <a href="/content/article/det_sim/" class="toggle-head"><i></i>Просмотр детализации</a>
    </div><!--toggle-item-->
    
    <div class="toggle-item">
        <a href="/content/article/mgmn/" class="toggle-head"><i></i>Тарифы</a>
    </div><!--toggle-item-->
    
    <div class="toggle-item">
        <a href="/content/article/important_sim/" class="toggle-head"><i></i>ВАЖНО</a>
    </div><!--toggle-item-->
    
    <div class="toggle-item">
        <a href="/content/article/contract_sim/" class="toggle-head"><i></i>Договор</a>
    </div><!--toggle-item-->

</div>
     
{% endblock %}
