{% extends 'base_public.html' %}
{% load i18n page_tags form_tags %}

{% block extrahead %}
    {{ block.super }}
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/phone_style.css" type="text/css" media="screen" />
        <script src="{{ MEDIA_URL }}js/jssip-0.3.0.js"></script>
        <script src="{{ MEDIA_URL }}js/gui.js" type="text/javascript"></script>
{% endblock %}



{% block content %}



<h1 class="title">Звонки с сайта</h1>

<script>
var $$ = document.getElementById.bind(document);
soundPlayer = document.createElement("audio");
soundPlayer.volume = 1;

$(document).ready(function(){

});


var session;

/*function dial () {
  if (!$$('target').value) {
    return;
  }

  setupSession( ua.invite($$('target').value, getSessionOptions()) );
}

function endSession () {
  if (session) {
    session.terminate();
  }
    $("#hangup").hide();
    $("#call").show();
}

function setupSession (s) {
  endSession();
  session = s;

  session.on('accepted', onAccepted.bind(session));
  session.once('bye', onTerminated.bind(session));
  session.once('failed', onTerminated.bind(session));
  session.once('cancel', onTerminated.bind(session));
}*/

function onTerminated () {
  session = null;
  attachMediaStream($$('remote-media'), null);

    $("#hangup").hide();
    $("#call").show();
}

function onAccepted () {
  this.mediaHandler.getRemoteStreams().forEach(
    attachMediaStream.bind(null, $$('remote-media'))
  );

    $("#hangup").show();
    $("#call").hide();
}

function attachMediaStream (element, stream) {
  if (typeof element.src !== 'undefined') {
    URL.revokeObjectURL(element.src);
    element.src = URL.createObjectURL(stream);
  } else if (typeof element.srcObject !== 'undefined'
       || typeof element.mozSrcObject !== 'undefined') {
    element.srcObject = element.mozSrcObject = stream;
  } else {
    console.log('Error attaching stream to element.');
    return false;
  }

  ensureMediaPlaying(element);
  return true;
}

function ensureMediaPlaying (mediaElement) {
  var interval = 100;
  mediaElement.ensurePlayingIntervalId = setInterval(function () {
    if (mediaElement.paused) {
      mediaElement.play()
    }
    else {
      clearInterval(mediaElement.ensurePlayingIntervalId);
    }
  }, interval);
}

	document.onkeyup = function (e) {
		e = e || window.event;
		if (e.keyCode === 13) {
			if ($('.web-phone').hasClass('web-phone-inprogress')) {
																	document.getElementById("wpn").focus();
																	$("#endCall").click();
																}
																else 
																{
																	$('#startCall1').click();
																}
															
			return false;
		}  
	}

	var Reg = false;
	var checkReg = true;
	var IncomingCall = false;
	var InCall = false;
	var AttemptingCall = false;

	function log(msg) {
		var logObj = document.getElementById("log");
		logObj.innerHTML = msg;
	}

////////////////////
	function CheckRegister() {
		if (checkReg == true){
			if (Reg == false)
				log("Проверьте Ваш логин и пароль!");
		}
	}

	/*function GetOptions()	{
			var eventHandlers = {
					  'progress':   function(e){  },
					  'failed':     function(e){  },
					  'started':    function(e){
						  rtcSession = e.sender;
						var remoteVideo = document.getElementById('remoteAudio');
						if(rtcSession.getRemoteStreams().length > 0) {
							remoteVideo.src = window.URL.createObjectURL(rtcSession.getRemoteStreams()[0]);
							remoteVideo.play()
						}
					  },
					  'ended':      function(e){ 
												  document.getElementById('wpn').value = '';
												  log("Вызов завершен"); 
											  }
					};
				
			var options = {
			  'eventHandlers': eventHandlers,
			  'mediaConstraints': {'audio': true, 'video': false},
			};
			return options
		}*/
	function Register(phone){
			var a = {{ws_servers|safe}};
			var dic_ws = [];
			for (i = 0; i < a.length; i++) {
				dic_ws.push({ws_uri: ""+a[i]+"", weight: i+1});
			}
			var configuration = {
				  'ws_servers':         dic_ws,
				  'ws_server_max_reconnection': 2,
				  'ws_server_reconnection_timeout': 2,
				  'connection_recovery_min_interval': 2,
				  'connection_recovery_max_interval': 5,
				  'uri':                'sip:'+$("#arg1").val()+'@sip.globalhome.su',
				  'password':           $("#arg2").val(),
				  'registrar_server':   'sip.globalhome.su',
				  'display_name': $("#arg1").val(),
				  'authorization_user': $("#arg1").val()
				};
			
			var reg = false;
			var coolPhone = new JsSIP.UA(configuration);
			coolPhone.on('registered', function(e){ 	
														reg = true;
														log("Зарегистрирован");
														$('.web-phone').addClass('web-phone-active');
														//document.getElementById("register").value = "Выход";
														document.getElementById("wpn").focus();
										//////////////////////////////////////				
														function CallToTarget(target, MyPhone)
															{
																var views, selfView, remoteView, mediaTypes;
																  //selfView = document.getElementById('selfView');
																  remoteView = document.getElementById('remoteAudio');
																  
																  views = {remoteView: remoteView};
																 MyPhone.start();
																  try {
																	MyPhone.on('newRTCSession', function(e) {
																		  GUI.new_session(e)
																	});
																	log("Звоним на " + target); 
																	MyPhone.call(target, {
																	  mediaConstraints: { audio: true, video:false },
																	  RTCOfferConstraints: { mandatory: { OfferToReceiveAudio: false } }
																	});
																	//GUI.setCallSessionStatus(session, 'answered');
																  } catch(e){
																	throw(e);
																	return;
																  }
																}
															
															$('#startCall1').click(function(event) {
																if ($('.web-phone').hasClass('web-phone-active')) {
																	var target = $("#wpn").val();
																	if (target) {
																	  $("#wpn").val("");
																	  CallToTarget(target, coolPhone);
																	}
																}
																});
														
														
									//////////////////////////////					
													}
						);
						
			coolPhone.on('unregistered', function(e){ alert('unregistered'); });
			coolPhone.on('registrationFailed', function(e){log("Проверьте Ваш логин и пароль!");});
			//Reg = true;
			//checkReg = false;
			coolPhone.start();
			coolPhone.on('newRTCSession', function(e) {
				  //alert('newRTCSession');
				  GUI.new_session(e)
				  /*var text = ' is calling you. Accept?';
				  var accept = confirm(text);
				  log("Входящий вызов...");
				  if (accept) {
					alert('accept');
					e.data.session.answer(options);
					$('.web-phone').addClass('web-phone-inprogress');
				  }*/
				  
			  
			});
			return coolPhone;
	}

	function Clear(){
		var str = document.getElementById('wpn').value;
		document.getElementById('wpn').value = str.substring(0,str.length-1);
		document.getElementById('player_symbol').src = {{ MEDIA_URL }}+"sounds/snd_delete.wav";
		document.getElementById('player_symbol').play();
	}
	
	/*function Call() {
		alert("call")
	   var configuration = {
		  'ws_servers':         'ws://176.124.137.237:5066',
		  'uri':                'sip:1000007@176.124.137.252:5060',
		  'password':           'jenya1234'
		};
			
		var coolPhone = new JsSIP.UA(configuration);
		// Register callbacks to desired call events
		var eventHandlers = {
		  'progress':   function(e){ /* Your code here  },
		  'failed':     function(e){ /* Your code here  },
		  'started':    function(e){
			rtcSession = e.sender;
			var remoteVideo = document.getElementById('remoteAudio');
			if(rtcSession.getRemoteStreams().length > 0) {
				remoteVideo.src = window.URL.createObjectURL(rtcSession.getRemoteStreams()[0]);
				remoteVideo.play()
			}
		  },
		  'ended':      function(e){ 
									  document.getElementById('wpn').value = '';
									  log("Вызов завершен"); 
								  }
		};
	
		var options = {
		  'eventHandlers': eventHandlers,
		  'mediaConstraints': {'audio': true, 'video': false},
		};
		coolPhone.start();
		log("Звоним на " + $$('wpn').value); 
		coolPhone.call($$('wpn').value, options);
	}*/

	function enter_symbol(symbol)
	{
		document.getElementById('wpn').value = document.getElementById('wpn').value + symbol;
		if (symbol == '*')
			{
				symbol = 'star'
			}
		if (symbol == '#')
			{
				symbol = 'hash'
			}
		document.getElementById("wpn").focus();
		document.getElementById('player_symbol').src = {{ MEDIA_URL }}+"sounds/snd_"+symbol+".wav";
		document.getElementById('player_symbol').play();
	}
	
</script>
<audio id="remoteAudio" style="display:block;"></audio>
<div class="web-phone-wrap">
    <div class="web-phone-text">
        <p><b>С помощью WEB-телефона вы можете совершать звонки на любые направления:</b></p>
        <ul>
            <li>бесплатные звонки на номера сети GlobalHome;</li>
            <li>городские и мобильные номера; <a href="/content/article/mgmn/">(подробнее)</a></li>
            <li>междугородние и международные вызовы; <a href="/content/article/mgmn/">(подробнее)</a></li>
        </ul>
    </div>
    
    <div class="web-phone" style="float: left;">
        <div class="web-phone-i">
            <div class="web-phone-number">
                <input type="text" id="wpn">
            </div>
            <div class="web-phone-status" id="log">Не зарегистрирован</div>
            <div class="web-phone-buttons">
                <i class="web-phone-remove" onclick="Clear()"></i>
                <i class="web-phone-call" id="startCall"></i>
                <i class="web-phone-call" id="startCall1"></i>
                <i class="web-phone-end" id="endCall"></i>
            </div>
            <div class="web-phone-numpad">
                <table>
                    <tr>
                        <td><input class="dtmfclick" type="button" value="1" onclick="enter_symbol('1');"></td>
                        <td><input class="dtmfclick" type="button" value="2" onclick="enter_symbol('2');"></td>
                        <td><input class="dtmfclick" type="button" value="3" onclick="enter_symbol('3');"></td>
                    </tr>
                    <tr>
                        <td><input class="dtmfclick" type="button" value="4" onclick="enter_symbol('4');"></td>
                        <td><input class="dtmfclick" type="button" value="5" onclick="enter_symbol('5');"></td>
                        <td><input class="dtmfclick" type="button" value="6" onclick="enter_symbol('6');"></td>
                    </tr>
                    <tr>
                        <td><input class="dtmfclick" type="button" value="7" onclick="enter_symbol('7');"></td>
                        <td><input class="dtmfclick" type="button" value="8" onclick="enter_symbol('8');"></td>
                        <td><input class="dtmfclick" type="button" value="9" onclick="enter_symbol('9');"></td>
                    </tr>
                    <tr>
                        <td><input class="dtmfclick" type="button" value="*" onclick="enter_symbol('*');"></td>
                        <td><input class="dtmfclick" type="button" value="0" onclick="enter_symbol('0');"></td>
                        <td><input class="dtmfclick" type="button" value="#" onclick="enter_symbol('#');"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="web-phone-f">
            <div class="web-phone-f-item">
                <label>
                    <span class="label">Логин</span>
                    <input id="arg1" type="text" class="text" value="">
                </label>
            </div>
            <div class="web-phone-f-item">
                <label>
                    <span class="label">Пароль</span>
                    <input id="arg2" type="password" class="text" value="">
                </label>
            </div>
            <!--div class="web-phone-f-item web-phone-f-remember">
                <label>
                    <input type="checkbox">
                    <span class="label">Запомнить</span>
                </label>
            </div-->
            <div class="web-phone-f-item web-phone-f-submit">
                <input type="button" id='register' value="Регистрация" onclick="Register('phone1')">
            </div>
        </div>
    </div><!--web-phone-->
    
    <div class="web-phone-manual">
       	 <p><b>Для совершения звонков с сайта необходимо:</b></p>
      	  <ol class="manual">
        <li>Получить Логин и Пароль SIP-аккаунта. Для этого в <a href="/account/">личном кабинете</a> необходимо добавить внутренний номер. Логином будет Ваш внутренний номер, а паролем – пароль от этого номера.</li>
<li>В поле <b>"Логин"</b> ввести номер Вашего SIP-аккаунта.<br/>
В поле <b>"Пароль"</b> ввести пароль от Вашего SIP-аккаунта.</li>
</li>
<li>Подключить микрофон и наушники к Вашему устройству (в браузере появится окно в котором нужно "Разрешить" доступ к ним).</li>
            <li>
                Используйте цифровые клавиши, чтобы ввести номер абонента, которому вы хотите позвонить:
                <ul>
                    <li>если это номер внутри сети GlobalHome - <b>7 цифр номера;</b></li>
      <li>если это городской или мобильный номер России - <b>8 (код города\оператора)(номер телефона);</b></li>
                    <li>если это международный вызов - <b>810 (код страны)(код оператора)(номер телефона);</b></li>
                </ul>
            </li>
        </ol>
    </div> 
</div>
<audio id="player"></audio>
<audio id="player_symbol"></audio>
{% endblock %}
