{% extends 'base_public.html' %}
{% load i18n page_tags form_tags %}


{% block extrahead %}
     	  <link href="/media/css/chosen.css" rel="stylesheet" type="text/css" >  		 
   		  <script src="/media/js/chosen.jquery.js"></script>
		  <script src="/media/js/chosen_select.js"></script>   		  
{% endblock %}


{% block content %} 


 {% block sendin %}
 {{block.super}}
         {% endblock %}
 

  
 
  
  <article id="right">
	
				
			
				
				
				  {% block burat2 %}
                  {{block.super}}
                  {% endblock %}
				
				
			
			
		 <div id='centr_field'>
		 {% block cap %}
				{{block.super}}
         {% endblock %} 
         {% block work_login %}
		 		{{block.super}}
		 {% endblock %}
                
    
	 	<!-- мои данные -->
	 	<div id = "main_title" >Поиск работы</div>
	 	<div id= "work_search_block">
	 		<div id = "work_search_input_block">
		 		<div id = "work_select_block">
			 		<select id = "select_vacancy">
			 			<option value = ""></option>
			 			{% for profession in select_vacancy  %}
			 				<option value = '{{  profession.id  }}'>{{ profession.profession }}</option>
			 			{% endfor %}
			 		</select>
		 		</div>
		 		<div id="button_block">
		 			<button onclick = "submit_hidden_form()">Найти</button>
		 		</div>
		 	</div>	
	 	</div>
	 	
	 	<div >
	 		<form id = 'hidden_form' method = "POST" action = "" style = "display:none">  {% csrf_token %}
	 			<input id = "profession_id" name = "profession_id" > </input>
	 		</form>
	 	</div>
	 	
	 	{% load endless %}
		{% paginate 10 duties_and_req_objs %}
	 	
	 	{% for duties_and_req_obj in duties_and_req_objs %}
	 	{% if forloop.last %}
	 	<div class = "vacancy_block last_vacancy_block">
	 	{% else %}
		<div class = "vacancy_block">
		{% endif %}
			 	<div class = "left_block">
			 		<div class = "vacancy_title"><a href = "/work_account/work_vacancy_view/{{duties_and_req_obj.vacancy.id}}/">{{ duties_and_req_obj.vacancy_name.profession }}</a></div>
			 		<div class = "line">{{ duties_and_req_obj.vacancy.create_date }}</div>
			 		<div class = "line">{{ duties_and_req_obj.vacancy.employer_data.company_name }}, {{ duties_and_req_obj.vacancy.employer_data.get_ownership_form_display }} ({{ duties_and_req_obj.vacancy.employer_data.activity.activity_field }})</div>
			 		<div class = "line">{{ duties_and_req_obj.vacancy.employer_data.city.city }}</div>
			 	</div>
		 	{% for work_condition_obj in work_condition_objs %}
		 		{% if  duties_and_req_obj.vacancy.id = work_condition_obj.duties_and_req.vacancy.id %}
		 			  <div class = "right_block">
			 				<!-- три случая с зарплатой(от, до , и - ) -->
				 			{% if work_condition_obj.salary_from != None and work_condition_obj.salary_to == None %}
						 	<div class = "salary_block">
						 		от <font class = "vacancy_title">{{ work_condition_obj.salary_from }}</font> руб.
						 	</div>
						    {% endif %}
						    
						    
						    {% if work_condition_obj.salary_from == None and work_condition_obj.salary_to != None %} 
						    <div class = "salary_block">
						 		до <font class = "vacancy_title">{{ work_condition_obj.salary_to }}</font> руб.
						 	</div>
						    {% endif %}
						    
						    {% if work_condition_obj.salary_to  and work_condition_obj.salary_from %} 
						    <div class = "salary_block">
						 		<font class = "vacancy_title">{{ work_condition_obj.salary_from }}</font>-<font class = "vacancy_title">{{ work_condition_obj.salary_to }}</font> руб.
						 	</div>
						    {% endif %}
						    
						    {% if work_condition_obj.salary_to == None  and work_condition_obj.salary_from == None %} 
						    <div class = "salary_block">
						 		<font class = "vacancy_title">договорная</font> 
						 	</div>
						    {% endif %}
					 </div>
				{% endif %}
		 	{% endfor %}
		 	
		</div>
		{% endfor %}
		<div class="pagination">
    	{% show_pages %}</div>   
	   	<!-- окончание моих данных -->
   		
   
   
   </div>
			
	</article>
  
 
   
	
<style type="text/css">
#select_vacancy+div{
width:358px!important;}

#work_search_block{
	width:750px;
	margin-bottom:10px;
	}
	
#work_select_block{
	display:inline-block;
	width:350px;
}

#button_block{
	display:inline-block;
	margin-left:11px;}	

#main_title{
	font-size:24px;
	font-weight:bold;
	margin-bottom:20px;
	}

.vacancy_block{
	width:750px;
	border-left:1px solid lightgray;
	border-right:1px solid lightgray;
	border-top:1px solid lightgray;
	padding-left:5px;
	padding-right:5px;
	padding-top:15px;
	padding-bottom:15px;
	}

.last_vacancy_block{
	border-bottom:1px solid lightgray;}

.left_block{
	width:450px;
	display:inline-block;
	/*border:1px solid blue; */
	}

.right_block{
	display:inline-block;
	/*border:1px solid green;*/
	vertical-align:top;
	float:right;
	}

.vacancy_title{
	font-size:20px;
	font-weight:bold;
	margin-bottom:10px;
	}

.line{
	margin-bottom:10px;
	}
	
.salary_block{
	font-size:20px;
	}

.chosen-container-single .chosen-single{
	border-radius: 0px !important;
	}

.chosen-container-single .chosen-drop {
	border-radius:0px! important;
}

#button_block button{
	height:23px;}
	
a {color: #3a7cbd;}


</style>

  <script>
jQuery('[data-show]').on('click', function(){
  var jElem = $(this);
  
  if(jElem.hasClass('active')) return;
  
  jQuery('[data-show]').removeClass('active');
  
  var id = jElem.addClass('active').data('show');
  jQuery('[data-id]').fadeOut();
  jQuery('[data-id="'+id+'"]').fadeIn();
  

});

// мой javascript



// блог залогирован
$(document).ready(function(){
		//alert('11');
		/*
		{% if request.user.username %}
			log = "<div class='user user-logged' style = 'display:inline-block'><i class='icon'></i>{% with user.get_profile.main_billing_account_id as id %}<span class='username'>{{ id }}, <br><span title='Ваш ID и Имя'><i></i>{{ request.user.username }}</span></span><span class='logout'><a href='/logout/'><br>Выход</a></span>{% endwith %}"
			$(log).insertAfter('#searchwrapper');
			$('#searchwrapper').css("display", "inline-block");
			$('#centr_field').width('87%');
			$('.tri').css('display', 'none');
		{% endif %}
		*/
		
		
			
			})

// окончание блока залогирован

$('#select_vacancy').val('{{pr_id}}');	
$('#select_vacancy').chosen({allow_single_deselect:true});

function submit_hidden_form(){
	$('#profession_id').val($("#select_vacancy").val())
	$('#hidden_form').submit();
	
}



// окончание моего javascript

</script>
<!--
<script>
      div="_ph1968";
      document.write('<scr'+'ipt src="http://pay-hit.com/s.js?t=1968&div='+div+'&ref='+encodeURIComponent(document.referrer)+'"><'+'/scr'+'ipt>');
    </script>
	<script>
      div="_ph1971";
      document.write('<scr'+'ipt src="http://pay-hit.com/s.js?t=1971&div='+div+'&ref='+encodeURIComponent(document.referrer)+'"><'+'/scr'+'ipt>');
    </script>-->
    
    <a href="#" class="overlay" id="hs_login2" ></a>
		<div class="main_modal_tip">
			<div class="modal_tip">
				<a alt='закрыть' href="#close" id='krest2' onclick = 'clear_cookies()'></a>
				<h2>Вы воспользовались услугами Бесплатной* Wi-Fi сети<br> <a href='http://globalhome.su/content/article/hot_spot/' target="_blank">HotSpot GlobalHome </a><h2>
				<ul>
					<li>Скорость доступа к интернет ресурсам составляет до 15 мбит\с.</li>
					<li>Для более подробной информации нажмите<a href="http://globalhome.su/content/article/hot_spot/" target="_blank">здесь</a></li>
					<li>Для открытия сайта или получения нужной информации введите запрос в поисковой строке.  Далее перейдите по ссылке в выдаче информации.</li>
				</ul>
				<p>* - на период тестирования.</p>
				
				<div class="lower_part">
				
				{%if trial%}
					<form action = '/' method = 'GET' class="forma modal" id='' name = 'search_form' onsubmit = 'javascript:log();'>
					{% else%}
					<form action = '/' method = 'GET' class="forma modal"  name = 'search_form' >
					{% endif%}
					<input tabindex="4" type="text" class="searchbox modal" name="query" value=""  id = 'ya_input_log' />
					<input  type="submit"   class="searchbox_submit modal"   value="Найти"  /><span class="tri"></span>
						
					</form>
				</div>	
			</div>
		</div>
		
		{% block login_1 %}
		{{block.super}}
         {% endblock %}
		
		 {% block complaint_window %}
		 {{block.super}}
         {% endblock %}
		 
         {% block review_window %}
		 {{block.super}}
         {% endblock %}
		 
{% endblock %}
