{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_list %}
{% load admin_urls %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  {% endif %}
  {% if cl.formset or action_form %}
    <script type="text/javascript" src="{% url "admin:jsi18n" %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}

{{ form.media }}

<link rel="stylesheet" href="{{ MEDIA_URL }}css/notify1.css" type="text/css" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/forms1.css" type="text/css"> 
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/interface-style1.css" />

<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"></script>

{% comment %}
<script type="text/javascript">
    var nts = 0
    var nrtr = 0
    
    function TypeChanged() {
        if (nts.val() == 2) {
            nrtr.show()
        } else {
            nrtr.hide()
        }
    }
    
    $(document).ready(function() {
        nts = $("#numbers_type_select")
        nts.attr("onChange", "TypeChanged()")
        nrtr = $("#numbers_region_tr")
        nrtr.hide()
    })
</script>
{% endcomment %}
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="../../../">
            {% trans "Home" %}
        </a>
        &rsaquo; 
        <a href="../../">
            {{ app_label|capfirst }}
        </a>
        &rsaquo; 
        <a href="../">
            {{ app_section }}
        </a>
        &rsaquo;
        {% trans "Add" %}
    </div>
  {% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}
    <div id="content-main">
    Карта Успешно сгененрирована:
    <br>
    Логин: {{ card.login }}
    <br>
    Пароль: {{ card.pin }}
    <div></div>

{% endblock %}