{% extends 'base_private.html' %}
{% load i18n form_tags lib_tags %}

{% block content %}

<h1 class="title">Удаление подключения</h1>

<form action="." method="post" enctype="multipart/form-data">
    <div class="confirm">
        <h4 class="h4_style">Вы уверены что хотите удалить данное подключение?</h4>  
        <table class="type-2">
            <thead>
                <th width="40%">Соединение</th>
                <th width="60%"></th>
            </thead>
            <tbody>
                <tr>
                    <td>{% trans "Enabled" %}</td>
                    <td>{% if gateway.enabled %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</td>
                </tr>
                <tr>
                    <td>Группа номеров</td>
                    <td>{{ gateway.tel_group }}</td>
                </tr>
                <tr>
                    <td>Адрес сервиса</td>
                    <td>{{ gateway.sip_address }}</td>
                </tr>
                <tr>
                    <td>Логин</td>
                    <td>{{ gateway.login }}</td>
                </tr>
            </tbody>
        </table>
        <div class="form-submit-right">
            <input type="submit" class="bt bt-blue2" value='Отмена' name="abort" />
            <input type="submit" class="bt bt-blue2" value='Да' name="submit" />
        </div>
    </div>
</form>
{% endblock %}