{% extends 'base_private.html' %}
{% load i18n form_tags lib_tags %}

{% block content %}

<script>
	function ShowSubmitRow()
	{
		$(".form-submit-right").show()
	}
	$(document).ready(function() {
		$(".form-submit-right").hide()
	})
</script>

<h1 class="title">{{ title }}</h1>

{{ block.super }}

{% if have_numbers %}
	<form action="." method="post" id="rules_list_form">
   
            {% if record_talk_tariff %}
                
                <table class="type-2">
                    <thead>
                        <tr>

                            <th width="18%" scope="col">Название</th>
                            <th width="20%" scope="col">Абонентская плата, RUR, без НДС</th>
                            <th width="18%" scope="col">Стоимость минуты записи, RUR</th>
                            <th width="18%" scope="col">Срок хранения записей(дн.)</th>
                            <th width="18%" scope="col">Ограничение записи(мин.)</th>
                            <th width="7%" scope="col">Подключить</th>

                        </tr>
                    </thead>
                    {% for record in record_talk_tariff %}
                        <tr>

                            <td>{{ record.name }}</td>
                            <td>{{ record.cost_activation }}</td>
                            <td>{{ record.cost_for_min }}</td>
                            <td>{% if record.count_save_day == 0 %}Не хранятся{% else %}{{ record.count_save_day }}{% endif %}</td>
                            <td>{% if record.record_time == 0 %}Не ограничено{% else %}{{ record.record_time }}{% endif %}</td>
                            <td><a href="/account/record_talk/change_activation_tariff/{{ record.id }}/">Подключить</a></td>

                    <!--</li> -->
                        </tr>
                    {% endfor %}
                </table>
                
            {% endif %}
 
        </form>

{% else %}

    <div class="status status-info">
        <i class="ico"></i>
        <div class="status-i">
            <p>{% trans "You have no internal numbers. You should create one first" %}</p>
        </div>
    </div>
{% endif %}     
  
{% endblock %}