{% extends 'base_private.html' %}

{% block content %}

<h1 class="title" align="center" style="width: 100%;">Наш дата-центр предоставляет следующие услуги:</h1>

<div class="toggle" style="margin: auto; float: none; width: 270px;">

    
    
    <div class="toggle-item">
        <a href="/account/dedicated/" class="toggle-head"><i></i>Выделенные сервера</a>
    </div><!--toggle-item-->

    <div class="toggle-item">
        <a href="/account/rack/" class="toggle-head"><i></i>Серверные стойки</a>
    </div><!--toggle-item-->

    <div class="toggle-item">
        <a href="/account/colocation/" class="toggle-head"><i></i>Размещение серверов</a>
    </div><!--toggle-item-->
    
    <div class="toggle-item">
        <a href="/account/vds/" class="toggle-head"><i></i>Виртуальные сервера</a>
    </div><!--toggle-item-->
    <div class="toggle-item">
        <a href="/account/hosting/" class="toggle-head"><i></i>Хостинг</a>
    </div><!--toggle-item-->
    <div class="toggle-item">
        <a href="/account/internet/vpn/" class="toggle-head"><i></i>Прокси-сервер</a>
    </div><!--toggle-item-->
     <div class="toggle-item">
        <a href="/account/communication_links/" class="toggle-head"><i></i>Аренда каналов связи</a>
    </div><!--toggle-item-->
   
{% endblock %}