{% extends 'base_private.html' %}
{% load i18n form_tags %}

{% block content %}

<h1 class="title">Изменение пароля</h1>

{% if form %}
	<div class="form_django">
    {{ block.super }}
        <form method="post" class="FD-blue" action="">
            {% for field in form %}
                {% form_field field block %}
            {% endfor %}
            <div class="form-submit-right">
                <input type="submit" class="bt bt-blue2" name="submit" value="{% trans "Change password" %}">
            </div>
        </form>
    </div>
{% endif %}

{% endblock %}