{% load i18n form_tags lib_tags %}
{% block content %}
<script type="text/javascript" src="/media/js/jquery.form.js"></script>

<style>
    .field-errors { left: 68%; }
    .field-required-label { color: red; }
    .itemkanumber > p {
        float: left !important;
        margin-top: 0px !important;
    }
    .itemkaextnumber > p {
        float: left !important;
        margin-top: 0px !important;
    }
    .field ul {list-style-type: none;}
    .field li {float: left; margin-right: 20px;}
    select[type="comm"] {
        width: 145px;
    }
	#id_agents {
        height: 150px;
        width: 300px;
    }
</style>
<script type="text/javascript" language="javascript" charset="utf-8">
    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+-)');
        var replacement = prefix + '-' + ndx + '-';
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex,
        replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }

    function deleteForm(btn, prefix) {
        var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (formCount > 1) {
            $(btn).parent('.itemka'+prefix+'').remove();
            var forms = $('.itemka'+prefix+'');
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            var i = 0;
            for (formCount = forms.length; i < formCount; i++) {
                $(forms.get(i)).children().children().each(function () {
                    if ($(this).attr('type') == 'text' || $(this).attr('type') == 'comm') updateElementIndex(this, prefix, i);
                });
            }
        }    
        return false;
    }

    function addForm(btn, prefix) {
        var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (formCount < 10 && formCount != 0) {
            if (prefix=='number' || prefix=='group' || prefix=='extnumber') {
                    var row = $(".itemka"+prefix+":first").clone(false).get(0);
                    $(row).removeAttr('id').hide().insertBefore("#add_id_"+prefix).slideDown(300);
                    $(".errorlist", row).remove();
                    $(row).children().removeClass("error");
                    $(row).children().children().each(function () {
                        updateElementIndex(this, prefix, formCount);
                        $(this).val("");
                    });
                    $(row).find(".delete").click(function () {
                        return deleteForm(this, prefix);
                    });
                    $("#id_" + prefix + "-TOTAL_FORMS").val(formCount + 1);
            } else {
                    var row = $(".itemka"+prefix+":first").clone(false).get(0);
                    $(row).removeAttr('id').hide().insertBefore("#add_id").slideDown(300);
                    $(".errorlist", row).remove();
                    $(row).children().removeClass("error");
                    $(row).children().children().each(function () {
                        updateElementIndex(this, prefix, formCount);
                        $(this).val("");
                    });
                    $(row).find(".delete").click(function () {
                        return deleteForm(this, prefix);
                    });
                    $("#id_" + prefix + "-TOTAL_FORMS").val(formCount + 1);
                    $("#id_" + prefix + "-INITIAL_FORMS").val(formCount + 1);
                }
        } else if (formCount != 0) {
            alert("Извините, достигнуто максимальное число номеров.");
        }
        return false;
    }

    function ask(asd, pre) {
        return addForm(asd, pre);
    }

    function del_asks(asd, pre) {
        return deleteForm(asd, pre);
    }

    function time_enabled_ckeck() {
        if ($('input[name=time_enabled]').is(':checked')) {
            $('#div_time_begin').css('display', 'block');
            $('#div_time_end').css('display', 'block');
            $('#div_time_hint').css('display', 'none');
        } else {
            $('#div_time_begin').css('display', 'none');
            $('#div_time_end').css('display', 'none');
            $('#div_time_hint').css('display', 'block');
        }
    }

    function day_enabled_check() {
        if ($('input[name=day_enabled]').is(':checked')) {
            $('#div_day').css('display', 'block');
        } else {
            $('#div_day').css('display', 'none');
        }
    }

    function more_options_check() {
        if ($('input[name=more_options]').is(':checked')) {
            $('#div_file_client_announce').css('display', 'block');
            $('#div_file_work_announce').css('display', 'block');
            $('#div_file_chime').css('display', 'block');
            $('#div_say_queue_position').css('display', 'block');
            $('#div_more_hint').css('display', 'none');
        } else {
            $('#div_file_client_announce').css('display', 'none');
            $('#div_file_work_announce').css('display', 'none');
            $('#div_file_chime').css('display', 'none');
            $('#div_say_queue_position').css('display', 'none');
            $('#div_more_hint').css('display', 'block');
        }
    }

    $(document).ready(function(){
        $('label[for=id_work_day_5]').css('color', '#f00');
        $('label[for=id_work_day_6]').css('color', '#f00');
        time_enabled_ckeck();
        day_enabled_check();
        more_options_check();
        $('input[name=day_enabled]').change(function () { day_enabled_check(); });
        $('input[name=time_enabled]').change(function () { time_enabled_ckeck(); });
        $('input[name=more_options]').change(function () { more_options_check(); });
		//jQuery.each($("select[multiple]"), function () {
		//	SelectFilter.init(this.id, "Locations", 0, "static/css/");
		//});
    })
	
	function ajax_list_number() {
		$.get("/account/constructor/checkwaitlist/"+document.getElementById("choice_list_id").value+"/", function(data) {

					//alert(typeof data);
					$('#form_sections_id').html(data);
					//check_type();
					
					$('label[for=id_work_day_5]').css('color', '#f00');
					$('label[for=id_work_day_6]').css('color', '#f00');
					time_enabled_ckeck();
					day_enabled_check();
					more_options_check();
					$('input[name=day_enabled]').change(function () { day_enabled_check(); });
					$('input[name=time_enabled]').change(function () { time_enabled_ckeck(); });
					$('input[name=more_options]').change(function () { more_options_check(); });
					//jQuery.each($("select[multiple]"), function () {
					//	SelectFilter.init(this.id, "Locations", 0, "static/css/");
					//});
				
				});
		
	}
	
	$(".modal_window_title").html('Подключение очереди');
	
	
	
	
	(function() {
	  $('#add-form').ajaxForm({
		cache: false,
		async: false,
		
		success: function(html) 
			{				
							if (html.split('_')[0] == "createnewelement") 
									{
									var goods = html.split('_');
									$.ajax({
										type: "POST",
										url: "/account/constructor/save",  // or just url: "/my-url/path/"
										data: {new_element: $('#newelement').val() + '_' + goods[goods.length-1], parent_new_element: $('#parent_newelement').val(), number_id: $('#number_id').val(), draft_flag: $('#draft_flag').val()},
										success: function(data) {
											window.location.reload(true);
										},
										error: function(xhr, textStatus, errorThrown) {
											alert("Please report this error: "+errorThrown+xhr.status+xhr.responseText);
										}
									});
									
									}
								else
									{
									$(".tab_container").html(html);
									}
			},
		
		});
		})();
</script>


{% if form_errors %}
        {% for e in form_errors %}
            <div class="status status-error">    
                <i class="ico"></i>
                <div class="status-i">
                    <p>{{ e }}</p>
                </div>
             </div>
        {% endfor %}
{% endif %}
<strong>{{ form.non_field_errors }}</strong>
</br>
<div class="ugc">
	<p>Заполните все поля и нажмите кнопку "Добавить"</p>
</div>
<form id="add-form" method="post" action="/account/constructor/createnewelement/{{newelement}}/{{parent_newelement}}/" enctype="multipart/form-data">
    
    
<input name="number_id" type="hidden" {% if number_id %} value="{{ number_id }}" {% else %} value="0" {% endif %} id="number_id"/>
<input name="newelement" type="hidden" {% if newelement %} value="{{ newelement }}" {% else %} value="0" {% endif %} id="newelement"/>
<input name="parent_newelement" type="hidden" {% if parent_newelement %} value="{{ parent_newelement }}" {% else %} value="0" {% endif %} id="parent_newelement"/>
<input name="draft_flag" type="hidden" {% if draft_flag %} value="{{ draft_flag }}" {% else %} value="0" {% endif %} id="draft_flag"/>
    <div class="form-sections form_ivr">
    
    <div class="form-section">
           	
            	<span class="label">Выберите очередь</span>
                     <select name="choice_list" id="choice_list_id" onChange="ajax_list_number()">
                            <option value="0">Создать новую очередь</option>
                    {% for key, value in choices.items %}
                        <option value="{{ key }}">{{ value }}</option> 
                    {% endfor %}
                     </select>
                    
                          
                <div class="hint"><i></i>Выберите уже готовую очередь или создайте новыю</div>
            </div><!--form-section-->
            
        
        
            
        <div id="form_sections_id">
        
            <div class="form-section" id="div_name">
                {% form_field form.name block %}
                <div class="hint"><i></i>{% trans "Название очереди" %}</div>
            </div>
            <div class="form-section" id="div_file_hello">
                {% form_field form.hello block %}
                <div class="hint"><i></i>{% trans  "Приветствие проигрывается при попадании в очередь" %}</div>
            </div>
            <div class="form-section" id="div_file_hold">
                {% form_field form.hold block %}
                <div class="hint"><i></i>{% trans "Фоновая музыка проигрывается во время ожидания в очереди" %}</div>
            </div>
            <div class="form-section" id="div_time_enabled">
                {% form_field form.time_enabled block %}
                <div id="div_time_begin">
                    {% form_field form.time_begin block %}
                    <div class="hint"><i></i>{% trans "Время с которого очередь принимает клиентов" %}</div><br/>
                </div>
                <div id="div_time_end">
                    {% form_field form.time_end block %}
                    <div class="hint"><i></i>{% trans "Время после которого очередь не принимает клиентов" %}</div>
                </div>
                <div class="hint" id="div_time_hint"><i></i>{% trans "Время работы очереди" %}</div>
            </div>

            <div class="form-section" id="div_day_enabled">
                {% form_field form.day_enabled block %}
                <div id="div_day">{% form_field form.work_day block %}
                    <div class="hint" id="div_day_hint"><i></i>{% trans "Выберите дни недели, в которые очередь будет работать" %}</div>
                </div>
            </div>

            <div class="form-section" id="div_more_options">
                {% form_field form.more_options block %}
                <div id="div_file_client_announce">
                    {% form_field form.client_announce block %}
                    <div class="hint"><i></i>{% trans "Проигрывается перед соединением с оператором" %}</div><br/>
                </div>
                <div id="div_file_work_announce">
                    {% form_field form.work_announce block %}
                    <div class="hint"><i></i>{% trans "Проигрывается в нерабочие дни и время" %}</div><br/>
                </div>
                <div id="div_file_chime">
                    {% form_field form.chime_list block %}
                    <div class="hint"><i></i>{% trans "Периодическое сообщение проигрывается с заданым интервалом" %}</div><br/>

                    {% form_field form.chime_freq block %}
                    <div class="hint"><i></i>{% trans "Интервал для периодического сообщения" %}</div><br/>
                </div>
                <div id="div_say_queue_position" style="margin-top:15px;">
                    {% form_field form.say_queue_position block %}
                    <div class="hint"><i></i>{% trans "Произносить номер позиции в очереди клиенту" %}</div><br/>
                </div>
                <div class="hint" id="div_more_hint"><i></i>{% trans "Дополнительные параметры очереди" %}</div>
            </div>
            
            
            <div class="form-section">
                {% form_field form.agents block %}
               <div class="hint" id="div_more_hint"><i></i>Операторы могут подключиться к очереди и принимать звонки</div>
            </div>
            </div>
        </div>
        
        
        <div class="form-sections-submit">
        	<div class="form-submit-right">  
            	<input id="add-group-button" type="submit" id="add-button" class="bt bt-blue2" value="{{ button }}" name="submit" />
            </div>
        </div>
        
        
    </form>
{% endblock %}
