{% extends 'base_private.html' %}
{% load i18n form_tags lib_tags %}

{% block content %}

<h1 class="title">{{ title }}</h1>

<form action="." method="post" enctype="multipart/form-data">

	<div class="confirm">
        <h4 class="h4_style">{% trans "Are you sure you want to delete this rule?" %}</h4>
        
        <table class="type-2">
            <thead>
                <th>Правило</th>
                <th></th>
            </thead>
            <tbody>
            <tr>
                <td>{% trans "Enabled" %}</td>
                <td>{% if rule.enabled %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</td>
            </tr>
            <tr>
                <td>{% trans "From number" %}</td>
                <td>{{ rule.from_number }}</td>
            </tr>
            <tr>
                <td>{% trans "To number" %}</td>
                <td>{{ rule.to_number }}</td>
            </tr>
            <tr>
                <td>{% trans "Condition" %}</td>
                <td>{{ rule.GetConditionStr }}</td>
            </tr>
            </tbody>
        </table>

        <div class="form-sections-submit">
            <div class="form-submit-right" id="form-submit-right">
                <input type="submit" class="bt bt-blue2" name="abort" value="{% trans 'Cancel' %}"/>
                <input type="submit" class="bt bt-blue2" name="submit" value="{% trans 'Yes' %}"/>
            </div>
        </div>
	</div>
</form>
{% endblock %}
