#webphone {width:160px; 
height:110px;
margin-top:-55px;
}
.shakeimage {POSITION: relative; width:150px;
height:100px; margin-top:5px;}
#phone{
border:3px solid #15ADFF; 
width:300px; 
height:290px; 
border-radius:6px;
margin-top:30px;}
