{% extends 'base_public.html' %}

{% block content %}
{{ block.super }}

<div class="pad">
    <div class="pad-item pad-item-1"><a href="/homepage/localphones/">
        <p>
            <i class="ico"></i>
            <span>Многоканальные номера</span>
        </p>
    </a></div>
    <div class="pad-item pad-item-2"><a href="/content/article/office_ats/">
        <p>
            <i class="ico"></i>
            <span>Бесплатная офисная АТС</span>
        </p>
    </a></div>
    <div class="pad-item pad-item-3"><a href="/content/article/how_to_use/">
        <p>
            <i class="ico"></i>
            <span>Звонки с компьютера</span>
        </p>
    </a></div>
    <div class="pad-item pad-item-4"><a href="/internet/">
        <p>
            <i class="ico"></i>
            <span>Интернет</span>
        </p>
    </a></div>
    <div class="pad-item pad-item-5"><a href="/content/type_service/">
        <p>
            <i class="ico"></i>
            <span>Как пользоваться услугами?</span>
        </p>
    </a></div>
    <div class="pad-item pad-item-6"><a href="/content/data_centr/">
        <p>
            <i class="ico"></i>
            <span>Услуги дата-центра</span>
        </p>
    </a></div>
    <div class="pad-item pad-item-7"><a href="/wifi/">
        <p>
            <i class="ico"></i>
            <span>Построение Wi-Fi сети</span>
        </p>
    </a></div>
    <div class="pad-item pad-item-8"><a href="/content/article/vpn_server_proxy/">
        <p>
            <i class="ico"></i>
            <span>Прокси-сервер</span>
        </p>
    </a></div>
    <div class="pad-item pad-item-9"><a href="/content/payment/">
        <p>
            <i class="ico"></i>
            <span>Оплата</span>
        </p>
    </a></div>
</div>
{% endblock %}                                     
     










