{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_list %}
{% load admin_urls %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  {% endif %}
  {% if cl.formset or action_form %}
  	<script type="text/javascript" src="{% url "admin:jsi18n" %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}

{{ form.media }}

<link rel="stylesheet" href="{{ MEDIA_URL }}css/notify1.css" type="text/css" /> 

<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"></script>

{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="/admin/">
        {% trans "Home" %}
      </a>
       &rsaquo; 
       <a href="../../../">
         {{ app_label|capfirst }}
      </a>
      &rsaquo; 
       <a href="../../">
         {{ app_section }}
      </a>
      &rsaquo; 
      {{ target_user }}
    </div>
  {% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}
    <div id="content-main">
    {% if cl.formset.errors %}
        <p class="errornote">
        {% blocktrans count cl.formset.errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
        </p>
        {{ cl.formset.non_form_errors }}
    {% endif %}
    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
    
    {% block notifications %}
      {% if request.notifications %}
        {% for message in request.notifications %}
          <div class="{% if message.tags %}{{ message.tags }}{% else %}information{% endif %}" style="margin: 10px;">
            {{ message|safe }}
          </div>
        {% endfor %}
      {% endif %}
    {% endblock %}
    <h3>{% trans "You can select user's group to edit or delete. Also you can add a new group." %}</h3>
    &nbsp;
    <input type="button" id="add_button" value='{% trans "Add group" %}' onclick='window.location="../../add_group/{{ target_user.id }}/"'/>
    {% if groups %}
        <table style="width: 50%">
            <thead>
                <tr>
                    <th width="70%">{% trans "Group name" %}</th>
                    <th width="15%">{% trans "Edit" %}</th>
                    <th width="15%">{% trans "Delete" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for group in groups %}
                    <tr>
                        <td style="text-align: left;">{{ group.name }}</td>
                        <td><a href="../../edit_group/{{ group.id }}/">{% trans "Edit" %}</a></td>
                        <td><a href="../../delete_group/{{ group.id }}/">{% trans "Delete" %}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="information">{% trans "The user has no groups" %}</div>
    {% endif %}
{% endblock %}




