{% extends 'base_public.html' %}

{% block content %}

<h1 class="title" >Построение Wi-Fi сетей</h1>
<div class="ugc"> 

<p>Компания Global Home специализируется на построении беспроводных Wi-Fi сетей в общественных местах, таких как рестораны, гостиницы, общежития и больницы. Сделайте пребывание в Вашем заведении еще более комфортным!</p>

</div>

<div class="toggle" style="margin: auto; float: none; width: 270px;">

    <div class="toggle-item">
        <a href="/content/article/hot_spot_cafe/" class="toggle-head"><i></i>Wi-Fi для ресторанов</a>
    </div><!--toggle-item-->
    
    <div class="toggle-item">
        <a href="/content/article/wifi-hotel/" class="toggle-head"><i></i>Wi-Fi для гостиниц</a>
    </div><!--toggle-item-->

    <div class="toggle-item">
        <a href="/content/article/wifi-obschezhitie/" class="toggle-head"><i></i>Wi-Fi для общежитий</a>
    </div><!--toggle-item-->

    <div class="toggle-item">
        <a href="/content/article/wifi-bolnicy/" class="toggle-head"><i></i>Wi-Fi для больниц</a>
    </div><!--toggle-item-->
	
	<div class="toggle-item">
        <a href="/content/article/hot_spot/" class="toggle-head"><i></i>Hot-Spot Wi-Fi</a>
    </div><!--toggle-item-->
	


</div>
   
{% endblock %}
