{% extends 'base_public.html' %}

{% block content %}

<h1 class="title" >Доступ в интернет</h1>
<div class="ugc"> 

<p>Интернет  от компании Global Home – это высокое качество соединения, стабильность работы и защищенность данных. Мы предлагаем Вам выбрать оптимальный вариант из большого количества безлимитных тарифных планов и способов подключения к сети Интернет. Свяжитесь с нами и наши сотрудники в кротчайшие сроки осуществят подключение на территории Москвы и Подмосковья. </p>

<p>Воспользуйтесь преимуществами высокоскоростного доступа в Интернет прямо сейчас! </p>
</div>

<div class="toggle" style="margin: auto; float: none; width: 270px;">

    <div class="toggle-item">
        <a href="/internet/legal_entity/" class="toggle-head"><i></i>Для юридических лиц</a>
    </div><!--toggle-item-->
    
    <div class="toggle-item">
        <a href="/internet/individual/" class="toggle-head"><i></i>Для физических лиц</a>
    </div><!--toggle-item-->

    <div class="toggle-item">
        <a href="/internet/cottage_settlement/" class="toggle-head"><i></i>Для коттеджных поселков</a>
    </div><!--toggle-item-->

    <div class="toggle-item">
        <a href="/content/article/optovolokno_internet_dlya_operatorov/" class="toggle-head"><i></i>Для операторов связи</a>
    </div><!--toggle-item-->
	
	<div class="toggle-item">
        <a href="/content/article/hot_spot/" class="toggle-head"><i></i>Hot-Spot Wi-Fi</a>
    </div><!--toggle-item-->
	


</div>
   
{% endblock %}