<table class="type-4 modal" style="width: 500px;">
    <caption>
        <h1 class="title">Оформление заказа</h1>
    </caption>
    <tbody>
        <tr>
            <td colspan="3">
                <div class="status status-error">
                    <i class="ico"></i>
                    <div class="status-i">
                        <p>Вы не являетесь юридическим лицом!</p>
                        <p>Выберите в списке свой профиль
                        <ul>
                            <li>
                                <a href="/content/article/internet_ip-tv/">Интернет для физических лиц</a></li>
                            <li>
                                <a href="/content/article/internet_v_chastnyi_dom/">Интернет для коттеджных поселков</a></li>
                            <li>
                                <a href="/content/article/optovolokno_internet_dlya_operatorov/">Интернет для операторов связи</a></li>
                        </ul></p>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>